.element__heart_active{
  min-width: 22px;
  height: 19px;
  background:none;
  border: none;
  background-image: url(../../../../images/heart_active.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all .3s ease 0s;
}

.element__heart_active:hover{
  background-image: url(../../../../images/heart_active.svg);
}
