.profile{
  padding: 36px 0 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media(max-width:767px){
  .profile{
    flex-direction: column;
    padding: 38px 19px 36px;
  }
}