.popup__btn{
  width: 100%;
  margin: 48px 0 0;
  height: 50px;
  background: #000;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  transition: all .3s ease 0s;
}
.popup__btn:hover{
  background: rgba(0, 0, 0, 0.8);
}

@media(max-width:767px){
  .popup__btn{
    height: 46px;
    margin: 45px 0 0;
    font-size: 14px;
    line-height: 17px;
  }
}
