.profile__rextangle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 2px;
  background: none;
  background-image: url(../../../images/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: all .3s ease 0s;
  cursor: pointer;
}
.profile__rextangle:hover{
  opacity: 0.6;
}

@media(max-width:767px){
  .profile__rextangle{
    width: 100%;
    margin: 36px 0 0;
  }
}
