.element {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    position: relative;/**/
}