.profile__settings{
  display: flex;
  margin: 32px 0 0 18px;
  align-self: start;
  width: 24px;
  height: 24px;
  background: url(../../../images/pencil.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  transition: all .3s ease 0s;
  cursor: pointer;
}
.profile__settings:hover{
  opacity: 0.6;
}

@media(max-width:767px){
  .profile__settings{
    content: '';
    position: absolute;
    margin: 0;
    width: 18px;
    height: 18px;
    bottom: 14%;
    right: -28px;
    transform: translateY(-50%);
  }
}


