.popup__btn_disabled{
  background: none;
  border: 1px solid #000;
  color: black;
  opacity: 0.2;
}

.popup__btn_disabled:hover{
  background: none;
  border: 1px solid #000;
  color: black;
  opacity: 0.2;
}
